@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../public/assets/font/LexendDeca-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/assets/font/LexendDeca-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../public/assets/font/LexendDeca-Bold.ttf) format('truetype');
  }
}

body {
  margin: 0;
  font-family: "Lexend Deca", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-height: 100vh;
}

.btn-primary {
  @apply bg-primary text-secondary;
  display: block;
  border: none;
  padding: 16px 24px;
  border-radius: 12px;
  cursor: pointer;
}